@import 'react-big-calendar/lib/css/react-big-calendar.css';

/* 기본 스타일 초기화 */
.rbc-time-view,
.rbc-time-header-content,
.rbc-header,
.rbc-time-header.rbc-overflowing,
.rbc-time-header,
.rbc-time-content,
.rbc-timeslot-group,
.rbc-time-content > * + * > *,
.rbc-day-slot .rbc-time-slot {
  border: none;
}

.rbc-today {
  background: none;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-event-label {
  display: none;
}

/* border 스타일 */
.rbc-header + .rbc-header {
  border-left: 1px solid var(--primary-0);
}

.rbc-day-bg + .rbc-day-bg,
.rbc-events-container,
.rbc-row-bg {
  border-left: 1px solid var(--primary-100);
}

.rbc-row-bg,
.rbc-time-gutter {
  border-right: 1px solid var(--primary-100);
}

.rbc-day-slot .rbc-timeslot-group {
  border-top: 1px solid var(--primary-100);
}

/* 배경색 스타일 */
.rbc-day-bg:first-child,
.rbc-day-bg:last-child,
.rbc-time-content .rbc-day-slot:nth-child(2),
.rbc-time-content .rbc-day-slot:nth-child(8) {
  background-color: rgba(220, 228, 255, 0.5);
}

.rbc-day-slot,
.rbc-day-bg {
  background-color: var(--primary-0);
}

.rbc-event {
  background-color: var(--primary-600);
}

/* 주간 헤더 스타일 */
.rbc-time-view .rbc-row {
  height: 60px;
}

.rbc-time-view .rbc-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-300);
  padding: 10px 8px 10px 8px;
  span {
    font-size: 14px;
    font-weight: 700;
  }
}

.rbc-header.rbc-today {
  background-color: var(--primary-600);
}

.rbc-time-header-content {
  color: var(--primary-0);
  border-radius: 10px 10px 0px 0px;
}

.rbc-row > .rbc-header:first-child {
  border-top-left-radius: 10px;
}

.rbc-row > .rbc-header:last-child {
  border-top-right-radius: 10px;
}

/* 주간 이벤트 스타일 */
.rbc-label {
  font-size: 8px;
  font-weight: 700;
  color: var(--secondary-400);
}

.rbc-day-slot .rbc-event {
  background-color: var(--primary-100);
  border: none;
  padding: 0px;
  border-radius: 4px;
  color: var(--primary-900);
}

.rbc-day-slot .rbc-event:before {
  content: '';
  background-color: var(--primary-600);
  width: 3px;
  height: 100%;
}

.rbc-event.rbc-selected,
.rbc-day-slot.rbc-selected.rbc-background-event {
  background-color: var(--primary-700);
  color: var(--primary-0);
}
.rbc-event-continues-prior,
.rbc-event.rbc-selected.rbc-event-allday.rbc-event-continues-prior {
  background-color: var(--primary-100);
  .rbc-event-content {
    padding: 2px 2px 2px 3px;
  }
}
